<div class="sidebar">
    <img src="assets/banner.png" alt="OpenForum Banner" style="width:100%; height: auto; padding-bottom: 10px;">
    <div style="text-align: center; font-size: 1em">Welcome to OpenForum! </div>
    <div style="text-align: center; padding: 5px;">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubforum" (click)="goToCreateSubforum()">Create Subforum</button>
    </div>
</div>